<div class="row">

	{{#each posts}}
		<div class="col-md-3">
			<div class="card" >
				<img src={{imageUrl}} class="card-img-top" />
				<div class="card-body">
					<h5 class="card-title">{{title}}</h5>
					<p class="card-text">{{body}}</p>
					{{!-- <a href="/delete/{{_id}}" class="btn btn-danger">Delete</a> --}}

          <form action="/delete/{{_id}}" method="post">
            <button class="btn btn-danger">DELETE</button>
          </form>
				</div>
			</div>
		</div>

	{{/each}}
</div>